header {
  background-color: #244751;
  color: #b1ee0a;
}
body {
  background-color: rgb(238, 236, 149);
}
main {
  background-color: rgb(241, 204, 204);
  padding: 16px;
}
.finstagram-post {
  margin-bottom: 48px;
}
.finstagram-post .user-info img {
  border-radius: 50%;
}
body {
  font-family: 'Roboto Condensed', sans-serif;
}
.my-class {
  color: red;
}
.my-class:hover {
  color: red;
}
a.photo:hover{
  padding: 10px;
}
a.photo{
  transition: padding 0.5s;
}
a.photo:hover{
  padding: 10px;
}